body {
  margin: 0;
  padding: 0;
  text-align: left;
  font-family: "Noto Sans", "맑은 고딕", "Malgun Gothic", Arial, Helvetica,
    sans-serif, Lucida, Grande, "Microsoft YaHei", "Hiragino Sans GB", SimSun,
    Meiryo;
  font-size: 13px;
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  padding: 0;
}

div {
  margin: 0;
  padding: 0;
}

img {
  vertical-align: top;
  border: none;
}

p {
  margin: 0;
  padding: 0;
}

dl {
  margin: 0;
  padding: 0;
}

dt {
  margin: 0;
  padding: 0;
}

dd {
  margin: 0;
  padding: 0;
}
